body {
  background-color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.card {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.card-item {
  flex-basis: 32%;
  position: relative;
}

.card-circle {
  width: 146px;
  height: 146px;
  border-radius: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.card-text {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  padding: 80px 20px 20px;
  margin-top: -73px;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 146px;
  height: 146px;
}
