* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monitor {
  position: relative;
  width: 350px;
  height: 200px;
  background-color: #000;
  border-radius: 10px;
  border-bottom: 30px solid #d8d8d8;
}

.monitor:before {
  content: '';
  width: 70px;
  height: 60px;
  background-color: #bdbdbd;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: perspective(100px) translateX(-50%) rotateX(25deg) skewX(7deg);
  z-index: -1;
  transform-origin: bottom;
}

.monitor:after {
  content: '';
  width: 140px;
  height: 15px;
  background-color: #bdbdbd;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translateX(-50%);
  transform-origin: bottom;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay:before {
  content: '';
  position: absolute;
  left: -30px;
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skewX(-10deg);
}
