* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 50%;
  height: 50vh;
  border: 1px solid #fff;
  filter: grayscale(1);
}

.box:hover {
  filter: grayscale(0);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
