* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.glitch {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 100px;
  position: relative;
}

.glitch:before,
.glitch:after {
  content: 'Glitch';
  color: #fff;
  position: absolute;
}

.glitch:before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-before 2s linear 0 infinite alternate-reverse;
}

.glitch:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-after 2s linear 0 infinite alternate-reverse;
}

@keyframes glitch-before {
  --steps: 20;
}
