* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #4937ff;
  overflow: hidden;
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4937ff;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.wave:before,
.wave:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 1);
  animation: wave 5s linear infinite;
}

.wave:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
