* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #282539;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: relative;
  font-size: 200px;
  color: #252839;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #383d52;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0 #01fe87;
  overflow: hidden;
  border-right: 2px solid #01fe87;
  animation: color 8s linear infinite;
}

@keyframes color {
  0%,
  10%,
  100% {
    width: 0;
  }

  90% {
    width: 100%;
  }
}
