*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-size: cover;
}

.box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,1);
    border-radius: 50%;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.box:hover {
    background-color: rgba(0,0,0,.4);
}

.box__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box__item {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    transform: scale(0.8);
    transition: .4s linear;
}

.box:hover .box__item {
    filter: blur(5px);
}

.box:hover .box__item:hover {
    background-color: rgb(77,34,14);
    filter: none;
    transform: scale(1.2);
}

.box__link {
    text-decoration: none;
    white-space: nowrap;
    color: transparent;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #fff;
    letter-spacing: 1px;
    transition: .4s linear;
}