*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(1.jpg);
    background-position: cover;
    transition: 2s linear;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wrapper:hover {
    background-image: url(2.jpg);
}

.man {
    width: 500px;
    height: 600px;
}