* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #edf1f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  display: flex;
  flex-direction: row;
}

.item {
  margin: 20px;
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 200px;
  border-radius: 40px;
  border: 2px solid #edf1f4;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #edf1f4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fff,
    inset -5px -5px 5px rgba(255, 255, 255, 0.5), inset 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fff,
    inset -5px -5px 5px rgba(255, 255, 255, 0.5), inset 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  transform: translateY(160px);
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.2), 0 420px 0 400px #2196f3;
  animation: backgroundAnimate 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes backgroundAnimate {
  0% {
    transform: translateY(160px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(160px);
    filter: hue-rotate(180deg);
  }
}
