* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  filter: blur(10px);
}

.path {
  clip-path: circle(150px at var(--x) var(--y));
}

.text {
  font-size: 320px;
  color: #fff;
  transform: translate(calc(var(--x) / 20), calc(var(--y) / 20));
}

.circle {
  position: absolute;
  top: -150px;
  left: -150px;
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  transform: translate(var(--x), var(--y));
}
